@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: #333;
}

body {
    font-family: 'Poppins', sans-serif;
  }  

.main-container {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    /* margin-top: 50px; */
    margin-bottom: 50px;
}
  
  
  @media (min-width: 640px) {
    .main-container {
      max-width: 540px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  
  @media (min-width: 768px) {
    .main-container {
      max-width: 760px;
      
    }
  }
  
  @media (min-width: 1024px) {
    .main-container {
      max-width: 1000px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  
  @media (min-width: 1280px) {
    .main-container {
      max-width: 1200px;
    }
  }
  
  @media (min-width: 1536px) {
    .main-container {
      max-width: 1420px;
    }
  }